body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #0000FF;
}

ol li {
	font-size: 16px;
	font-weight: bolder;
}

pre {
	background-color: #EEEEEE;
	border: 1px solid grey;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	width: 50%;
}